<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-panel">
        <ul class="gh-links">
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=luizmineo&repo=redstone.dart&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=luizmineo&repo=redstone.dart&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=luizmineo&repo=redstone.dart&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
          </li>
        </ul>
        <p>Разработано и поддерживается <a href="https://github.com/luizmineo" target="_blank">Luiz Mineo</a>, с участием <a href="https://github.com/luizmineo/redstone.dart/graphs/contributors">замечательных людей</a>.</p>
        <p>Лицензия <a href="https://github.com/luizmineo/redstone.dart/blob/master/LICENSE" target="_blank">MIT</a></p>
        <ul class="footer-links">
          <li>Текущая версия <strong>{{site.data.project.version}}</strong></li>
          <li>-</li>
          <li><a href="/blog">Блог</a></li>
          <li>-</li>
          <li><a href="https://github.com/luizmineo/redstone.dart">Github</a></li>
          <li>-</li>
          <li><a href="http://groups.google.com/d/forum/redstonedart">Список рассылки</a></li>
          <li>-</li>
          <li><a href="/doc">Документация</a></li>
          <li>-</li>
          <li><a href="http://www.dartdocs.org/documentation/redstone/{{site.data.project.version}}/index.html#redstone">API</a></li>
          <li>-</li>
          <li><a href="/feed.xml">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% if page.menu_item == 'index' %}
<script src="/js/index.js"></script>
{% endif %}

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26695173 = new Ya.Metrika({id:26695173, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26695173" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->